/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: black;
    color: black;
}

header {
    background-color: #222;
    color: #fff;
    padding: 20px;
    text-align: center;
    border-bottom: 2px solid #444;
}

h1 {
    font-family: "Brush Script MT", cursive;
    font-size: 3em;
    margin: 0;
}


h3 {

    color: #fff;

}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-family: "Arial", sans-serif;
    font-size: 1.2em;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ff0000;
}

main {
    padding: 20px;
    
}

.bg-introduction {
    background-image: url(../_imagens/tengu-seishin-ryu2.jpg);
}

.bg-history {
    background-image: url(../_imagens/ninja-history-copy.jpg);
}

.bg-weapons {
    background-image: url(../_imagens/ninja-history2copy.jpg);
}

.bg-training {
    background-image: url(../_imagens/treino2.jpg);
}

/* Estilo para as seções com imagem de fundo */
 .bg-introduction, .bg-history, .bg-weapons, .bg-training {
    background-size: cover; /* Faz a imagem cobrir todo o container */
    background-position: center; /* Centraliza a imagem no container */
    background-repeat: no-repeat; /* Evita a repetição da imagem */
    height: 100vh; /* Garante que o container tenha a altura total da viewport */
}

.bg-introduction {
    font-family: "Arial", sans-serif;
    font-size: 1.5em;
    margin-top: 0;
    color: red;
    text-align: center;
}

.bg-history h2{
    font-family: "Arial", sans-serif;
    font-size: 2em;
    margin-top: 0;
    color: #fff;
    text-align: center;
}

.bg-weapons h2{
    font-family: "Arial", sans-serif;
    font-size: 2em;
    margin-top: 0;
    color: #fff;
    text-align: center;
}

.bg-training h2{
    font-family: "Arial", sans-serif;
    font-size: 2em;
    margin-top: 0;
    color: #fff;
    text-align: center;
}

p {
    font-family: "Arial", sans-serif;
    font-size: 1.2em;
    line-height: 1.6;
    color: aliceblue;
}

.bg-training p {
    font-family: "Arial", sans-serif;
    font-size: 1.2em;
    line-height: 1.6;
    color: #fff;
}



.bg-introduction {
    position: relative; /* Defina a posição relativa para permitir posicionamento absoluto dos elementos filhos */
    text-align: center;
    color: #fff;
}

.bg-introduction::before {
    content: ""; /* Adicione um pseudo-elemento antes do conteúdo real */
    position: absolute; /* Posicionamento absoluto em relação ao elemento pai */
    top: 0; /* Coloque no topo */
    left: 0; /* Coloque à esquerda */
    width: 100%; /* Largura total */
    height: 100%; /* Altura total */
    background-color: rgba(0, 0, 0, 0.5); /* Cor de fundo semitransparente (preto com 50% de opacidade) */
    z-index: 0; /* Coloque atrás de todos os outros elementos */
}



/* Additional stylized elements */

/* Fancy borders for sections */
section {
    border-top: 8px solid black;
    border-bottom: 8px solid black;
    margin-bottom: 80px; /* Adiciona margem na parte inferior de cada container */
}

/* Customized links */
a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #0056b3;
}

.bg-introduction h2, .bg-introduction p { 
    position: relative;
    z-index: 1;
    color: #fff; /* Altera a cor do texto dentro da introdução para branco */
}


/* Styling for Sensei's message */
blockquote {
    background-color: #000; /* Altera a cor de fundo para preto */
    color: #ff0000; /* Altera a cor do texto para vermelho */
    padding: 20px;
    margin: 20px 0;
    border-left: 8px solid #000; /* Mantém a borda amarela */
    text-align: center; /* Alinha o texto ao centro */
    position: absolute; /* Posiciona absolutamente para a parte inferior */
    bottom: 20px; /* Afasta 20px do fundo */
    left: 50%; /* Centraliza horizontalmente */
    transform: translateX(-50%); /* Centraliza horizontalmente */
    width: 80%; /* Define a largura para 80% do contêiner */
}

.bg-frasesensei p {
    color: #ff0000 !important; /* Altera a cor do texto para vermelho */
    font-style: italic; /* Adiciona itálico ao texto */
}


/* Add this CSS to your existing CSS file */

/* Footer styles */
footer {
    background-color: black; /* Altera a cor de fundo do rodapé para cinza */
    color: #fff;
    padding: 20px;
    text-align: center;
    border-top: 2px solid black;
    display: flex; /* Ativa o layout flexível para alinhar os itens verticalmente */
    align-items: center; /* Centraliza os itens verticalmente */
    justify-content: center; /* Centraliza os itens horizontalmente */
}
/*.redes-sociais {
    margin-top: 10px;
    text-align: center; /* Centraliza os ícones de redes sociais
}*/

/* Footer styles */
.redes-sociais {
    background-color: blcak; /* Alterando para cinza escuro */
    color: #fff;
    padding: 20px;
    text-align: center;
    position: absolute; /* Mudando para posição absoluta */
    bottom: 120; /* Posicionando no rodapé */
    width: 100%; /* Garantindo que ocupe toda a largura */
}
.redes-sociais a {
    display: inline-block;
    margin: 0 10px;
    color: #fff;
    font-size: 44px;
}

.redes-sociais a:hover {
    color: red;
}

